<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= @article.title %></title>
</head>

<body>
  <h1><%= @article.title %></h1>

  <p>
    <%= @article.content %>
  </p>

  <p><a href="<%="/articles/#{@article.id}/edit" %>">Edit</a></p>
  <p>
    <form action="<%= "/articles/#{@srticle.id}/delete" %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="submit" value="delete"/>
    </form>
  </p>
</body>
</html> 
